/* Adopt container styling */
#adopt-con {
    margin: 0;
    padding: 0;
    width: 100%;
    height: auto;
    min-height: 91vh;
    background-color: #8b80ab;
  }
  
  /* Header adopt section */
  .header-adopt .search-con {
    display: flex;
    justify-content: center;
    padding: 5px;
  }
  
  /* Search input styling */
  .search-input {
    background-color: #363741;
    border-radius: 12px;
    border: 0;
    box-sizing: border-box;
    color: #eee;
    font-size: 15px;
    height: 100%;
    outline: 0;
    padding: 4px 20px 8px;
    margin-right: 5px;
  }
  
  /* Search button styling */
  .search-btn {
    border-radius: 2px;
    border: 0;
    padding: 0 10px;
    font-size: 18px;
    margin: 2px;
    background-color: rgb(114, 15, 179);
    color: white;
  }
  
  /* Filter dropdown styling */
  .header-adopt .filter-dropdown {
    display: flex;
    justify-content: end;
    margin-right: 40px;
  }
  