 /* popup.css  of feed */
   /* Popup container styling */
.popup-feed {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 98999;
    /* min-width: 300px; */
  }
  
  /* Popup content styling */
  .popup-content-feed {
    background-color: #fff;
    padding: 20px;
    border-radius: 4px;
    max-width: 400px;
    min-width: 250px;
    text-align: center;
  }
  
  /* Popup content image styling */
 
  
  /* Popup content heading styling */
  .popup-content-feed h4 {
    color: black;
    text-transform: uppercase;
  }
  
  /* Popup Pokemon details styling */
  .popup-feed .pokemon-details-feed {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 10px;
    color: black;
  }
  .popup-feed .pokemon-details-feed input{
    width: 50px;
  }
  
 
  
 
  
  /* Popup button styling */
  .popup-feed .feed-btn {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    margin: 10px 0;
    border-radius: 4px;
    cursor: pointer;
  }
  
  /* Popup button hover styling */
  .popup-feed .feed-btn:hover {
    background-color: #0056b3;
  }
  .input-feed{
    margin-bottom: 5px;
  }
  