/* Importing the 'Poppins' font from Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* Applying the 'Poppins' font to all elements */
*{
  font-family: 'Poppins', sans-serif;
}

/* Styling for the container card */
.container-card{
  position: relative;
  width: 200px;
  height: 320px;
  margin: 10px;
}

/* Styling for the card element within the container card */
.container-card .card{
  position: relative;
  width: 100%;
  height: 100%;
  background: #1b242f;
  border-radius: 20px;
  overflow: hidden;
}

/* Styling for the before pseudo-element of the card */
.container-card .card:before{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: white;
  clip-path: circle(80px at 80% 20%);
  transition: 0.5s ease-in-out;
}

/* Hover effect for the before pseudo-element of the card */
.container-card .card:hover:before{
  clip-path: circle(220px at 80% -20%);
}

/* Styling for the after pseudo-element of the card */
.container-card .card:after{
  content: 'Pokemon';
  position: absolute;
  top: 50%;
  left: 0;
  font-size: 3.6em;
  font-weight: 800;
  font-style: italic;
  color: rgba(247, 247, 242, 0.05)
}

/* Styling for the image box within the card */
.container-card .card .imgBx{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10000;
  width: 100%;
  height: 220px;
  transition: 0.5s;
}

/* Hover effect for the image box within the card */
.container-card .card:hover .imgBx{
  top: 0%;
  transform: translateY(0%);
}

/* Styling for the image within the image box */
.container-card .card .imgBx img{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(-25deg);
  width: 270px;
}

/* Styling for the content box within the card */
.container-card .card .contentBx{
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 70px;
  text-align: center;
  transition: 1s;
  z-index: 10;
}

/* Hover effect for the content box within the card */
.container-card .card:hover .contentBx{
  height: 150px;
}

/* Styling for the heading within the content box */
.container-card .card .contentBx h5{
  position: relative;
  font-weight: 400;
  letter-spacing: 1px;
  color: #fff;
  margin: 0;
}
/* Styling for the status container */
.container-card .card .contentBx .status {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 8px 20px;
  transition: 0.5s;
  opacity: 0;
  visibility: hidden;
  padding-top: 0;
  padding-bottom: 0;
}

/* Show status container on hover */
.container-card .card:hover .contentBx .status{
  opacity: 1;
  visibility: visible;
  transition-delay: 0.5s;
  color: #ffff;
}

/* Styling for the status text within the content box */
.container-card .card .contentBx .status{
  color: #fff;
  font-weight: 300;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin:10px 0;
}

/* Styling for the status h6 element */
.container-card .card .contentBx .status h6{
  padding: 2px 2px;
  text-align: center;
  line-height: 15px;
  font-size: 12px;
  display: block;
  color: #ece8e8;
  margin:0px 2px;
  transition: 0.5s;
  border-radius: 4px;
  cursor: pointer;
}

/* Styling for the size span on hover */
.container-card .card .contentBx .size span:hover{
  background: #1b1b1b;
}

/* Styling for the color spans */
.container-card .card .contentBx .color span{
  width: 20px;
  height: 20px;
  background: #ff0;
  border-radius: 50%;
  margin: 0 5px;
  cursor: pointer;
}

/* Styling for the second color span */
.container-card .card .contentBx .color span:nth-child(2){
  background: #9bdc28;
}

/* Styling for the third color span */
.container-card .card .contentBx .color span:nth-child(3){
  background: #03a9f4;
}

/* Styling for the fourth color span */
.container-card .card .contentBx .color span:nth-child(4){
  background: #e91e63;
}

/* Styling for the content box links */
.container-card .card .contentBx a{
  display: inline-block;
  padding: 4px 10px;
  background: #fff;
  border-radius: 4px;
  margin-top: 10px;
  text-decoration: none;
  font-weight: 600;
  color: #111;
  opacity: 0;
  transform: translateY(50px);
  transition: 0.5s;
  margin-top: 0;
}

/* Show content box links on hover */
.container-card .card:hover .contentBx a{
  opacity: 1;
  transform: translateY(0px);
  transition-delay: 0.75s;
}
