#home-cards{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
}
#pokemon-header{
    color: white;
    font-size: 25px;
    font-weight: 500;
    line-height: 60px;
    text-transform: uppercase;
}

#card-pagination{
   margin: 8px;
   margin-bottom: 0;
   padding: 5px;
   display: flex;
   justify-content: center;
  float: center;
}
#card-pagination .btn-style{
    margin: 0px 1px;
    border-radius: 5px;
    color: white;
    background-color:#0C134F ;
}
#card-pagination .btn-style:disabled{
    background-color: aliceblue;
    color: black;
}